@model List<OtelProject.Data.Models.Rezervasyon>
@{
    ViewBag.Menu = "Rezervasyon";
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Rezervasyon Listesi</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li>
                        <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index-2.html">Anasayfa</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a class="parent-item" href="#">Rezervasyonlar</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Rezervasyon Listesi</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-box">
                    <div class="card-head">
                        <header>Rezervasyon Listesi</header>
                        <div class="tools">
                            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="row p-b-20">
                            <div class="col-md-6 col-sm-6 col-6">
                                <div class="btn-group">
                                    <a href="#" id="odaDurumButon" onclick="odaDurum()" class="btn btn-info">
                                        Oda Durumları İncele <i class="fa fa-bed"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="table-scrollable">
                            <table class="table table-hover table-checkable order-column full-width" id="example4">
                                <thead>
                                    <tr>
                                        <th class="center"> Oda Tipi</th>
                                        <th class="center"> Müşteri Adı </th>
                                        <th class="center"> Giriş Tarihi </th>
                                        <th class="center"> Çıkış Tarihi </th>
                                        <th class="center"> Kişi </th>
                                        <th class="center"> Pansiyon </th>
                                        <th class="center"> Durum </th>
                                        <th class="center"> İşlem </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        string durum = "";
                                        if (item.Act == 1)
                                            durum = "Beklemede";
                                        else if (item.Act == 2)
                                            durum = "Odada";
                                        else if (item.Act == 3)
                                            durum = "Çıkış Yaptı";
                                        <tr class="odd gradeX">
                                            <td class="center">@item.OdaTip.Baslik</td>
                                            <td class="center">@item.Musteri.Adisoyadi</td>
                                            <td class="center">@item.GirisTarihi.ToString("dd.MM.yyyy HH:mm")</td>
                                            <td class="center">@item.CikisTarihi.ToString("dd.MM.yyyy HH:mm")</td>
                                            <td class="center">@item.Yetiskin Yetişkin @item.Cocuk Çocuk</td>
                                            <td class="center">@item.Pansiyons.Baslik</td>
                                            <td class="center">@durum</td>
                                            <td class="center">
                                                <a href="~/yonetim/rezervasyon/rezervasyongetir/@item.Idno" class="btn btn-tbl-edit btn-xs" title="İncele">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                                @if (item.Act == 1)
                                                {
                                                    <a href="#" data-bs-toggle="modal" data-bs-target=".rezOnayla" data-idno="@item.Idno" class="btn btn-tbl-edit btn-xs" title="Onayla">
                                                        <i class="fa fa-check-square-o"></i>
                                                    </a>
                                                }
                                                @if (item.Act == 2)
                                                {
                                                    <a href="#" data-bs-toggle="modal" data-bs-target=".rezCikis" data-idno="@item.Idno" class="btn btn-tbl-edit btn-xs" title="Çıkış Yaptı">
                                                        <i class="fa fa-sign-out"></i>
                                                    </a>
                                                }
                                                <a href="~/yonetim/Rezervasyon/RezervasyonSil/@item.Idno" class="btn btn-tbl-delete btn-xs" title="Sil">
                                                    <i class="fa fa-trash-o "></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade rezOnayla" id="rezOnayla" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form action="~/yonetim/rezervasyon/RezervasyonOnay" method="post">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Rezervasyon</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            Oda Seçin
                        </div>
                        <div class="col-md-6">
                            @Html.DropDownList("OdaId", (List<SelectListItem>)ViewBag.odaListe, new { @class = "form-control", tabindex = "2" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="OnayId" name="id" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        İptal
                    </button>
                    <button type="submit" class="btn btn-primary">Rezervasyonu Onayla</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade rezCikis" id="rezCikis" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form action="~/yonetim/rezervasyon/RezervasyonCikis" method="post">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Rezervasyon</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            Çıkış Tarihi
                        </div>
                        <div class="col-md-6">
                            <input name="cikistarih" class="form-control" value="@DateTime.Now" readonly="readonly" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            Ek Ücret
                        </div>
                        <div class="col-md-6">
                            <input name="ekucret" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            Açıklama
                        </div>
                        <div class="col-md-6">
                            <textarea name="aciklama" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="CikisId" name="id" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        İptal
                    </button>
                    <button type="submit" class="btn btn-primary">Otel Çıkış Gerçekleştir</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade odaDurumModal" id="odaDurumModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form action="~/yonetim/rezervasyon/RezervasyonCikis" method="post">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Rezervasyon</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <div id="odaDurumTablo"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"></div>
            </form>
        </div>
    </div>
</div>


@section Head {
    <link href="~/admin/assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
}

@section Scripts {
    <script src="~/admin/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/admin/assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js"></script>
    <script src="~/admin/assets/js/pages/table/table_data.js"></script>




    <script>
        $('.rezOnayla').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var idno = button.data('idno')

            $('#OnayId').val(idno);

        })
        $('.rezCikis').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var idno = button.data('idno')

            $('#CikisId').val(idno);

        })
    </script>


    <script>
        function odaDurum() {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "get",
                url: '@Url.Action("OdaDurum", "Rezervasyon")',
                data: {
                    'idno': 0
                },
                success: function (data) {
                    if (data != null) {
                        $('.odaDurumModal').modal('show');
                        let w = jQuery.parseJSON(data);
                        let tablehtml = "<table class='table table-sm table-striped mb-0'><thead><tr><th>Oda No</th><th>Oda Adı</th><th>Durum</th></thead><tbody>";
                        $.each(w, (index, value) => {
                            tablehtml += `<tr><td>${value.OdaNo}</td><td>${value.OdaAdi}</td><td>${value.Durum}</td></tr>`
                        });
                        tablehtml += "</tbody></table>";
                        $("#odaDurumTablo").html(tablehtml);
                    }
                }
            });
        }
    </script>



}